<table class="ui large celled table tablet stackable">
  <thead>
    <tr>
      <th class="center aligned">
        {{#if readonly}}
        <i class="calendar icon"></i>
        {{else}}
          <button class="ui green button"><i class="add to calendar icon"></i>Add</button>
        {{/if}}
      </th>
      <th>Board Game</th>
      <th>Complexity</th>
      <th>Seats</th>
      <th>Location</th>
      <th>Organisator</th>
      {{#unless readonly}}
      <th></th>
      {{/unless}}
    </tr>
  </thead>
  <tbody>
    {{#each boardgamenights as |boardgamenight|}}
      <tr class="{{if (eq boardgamenight.filling.current boardgamenight.filling.max) "negative"}}">
        <td class="collapsing">{{moment-format boardgamenight.date 'DD/MM/YYYY - HH:mm'}}</td>
        <td class="collapsing">
          <a class="header bgn-text-button" onclick={{action 'openModal' 'boardGame' boardgamenight.boardGame.id}}>{{boardgamenight.boardGame.name}}</a>
          {{boardgame-detail boardGame=boardgamenight.boardGame}}
        </td>
        <td class="collapsing">
          <div data-tooltip={{complexity-helper boardgamenight.boardGame.weight}}>
            {{complexity-star-rating value=boardgamenight.boardGame.weight maxValue=5}}
          </div>
        </td>
        <td class="collapsing">{{boardgamenight.filling.current}} / {{boardgamenight.filling.max}}</td>
        <td>
          <a class="header bgn-text-button" onclick={{action 'openModal' 'location' boardgamenight.location.id}}>{{boardgamenight.location.city}}</a>
          {{location-detail location=boardgamenight.location}}
        </td>
        <td>
          <a class="header bgn-text-button" onclick={{action 'openModal' 'profile' boardgamenight.organisator.id}}>{{boardgamenight.organisator.fullName}}</a>
          {{person-detail person=boardgamenight.organisator}}
        </td>
        {{#unless readonly}}
        <td class="collapsing">
          <div class="ui icon buttons">
            <button class="ui green button {{if (eq boardgamenight.filling.current boardgamenight.filling.max) "disabled"}}">Sign up</button>
            {{#if boardgamenight.isOwner}}
            <button class="ui grey icon button" data-tooltip="Edit"><i class="edit icon"></i></button>
            <button class="ui grey icon button" data-tooltip="Remove"><i class="remove icon"></i></button>
            {{/if}}
          </div>
        </td>
        {{/unless}}
      </tr>
    {{/each}}
  </tbody>
</table>